{% extends "base.html" %} {% block content %}
<section class="flex h-screen">
  <section class="h-screen bg-white absolute right-0">
    <form method="post" class="grid justify-center items-center mx-5 my-60 h-[fit-content]">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="bg-blue-950 text-gray-200 p-2 rounded-2xl m-5">Iniciar Sesión</button>
    </form>
    <a href="{% url " app" %}" class="absolute top-90 left-40 my-10">volver</a>
  </section>
</section>
{% include "footer.html" %}
{% endblock %}