{% extends "base.html" %} 
{% block title%}Login{% endblock %}
{% block content %}
<div class="flex flex-col items-end gap-2 flex-wrap">
 <section class="flex flex-col gap-2 bg-gray-400 p-2 h-screen overflow-auto w-100">
    <form method="post" class="flex flex-col my-30 mx-5 flex-wrap">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="bg-cyan-950 w-[fit-content] my-5 text-gray-400 p-2 ">Iniciar Sesión</button>
    </form>
    <p class="mx-5">
      Al acceder al PSYS aceptas los terminos de tratamiento de datos establecidos.
    </p>
    <a href="{% url  "app" %}" class=" mx-5 bg-cyan-950 text-gray-400 p-2 rounded-2xl w-[fit-content]">volver</a>
</section>
</div>
{% include "footer.html" %}
{% endblock %}
