{% extends "base.html"%}
<title>{% block title %}{% endblock%}</title>
{% block content %}
<table class="bg-blue-950 mx-5 rounded-2xl text-gray-200 w-[fit-content] h-[fit-content]">
    <thead>
        <tr class="grid grid-cols-2 justify-items-center items-center bg-white text-xl text-blue-950">
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for product in list_stock %}
        <tr class="grid grid-cols-2 justify-items-center p-2 italic text-xl">
            <td>{{ product.id_products.name }}</td>
            <td>{{ product.quantitystock }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}