{% extends "base.html"%}
<title>{% block title %}Stock{% endblock %}</title>
{% block content %}
<section class="my-40 h-screen flex flex-col items-center">
  <nav class="mx-10 my-10 text-gray-300 p-3 absolute top-0 right-30 text-xl">
    <a href="{% url 'list-product' %}">Productos/</a>
    <a href="{% url 'sell_product' %}">Vender productos/</a>
    <a href="{% url 'register_product' %}">Registrar productos/</a>
    <a href="{% url 'delete-product' %}">Eliminar productos/</a>
    <a href="{% url 'update-product' %}">Actualizar productos/</a>
    <a href="{% url 'main' %}">Home</a>
  </nav>
  <section class="bg-cyan-950 h-20 rounded-2xl">
    <form method="post"
      class="flex flex-row justify-items-center items-center text-cyan-950 text-xl">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="bg-gray-400 rounded-2xl text-cyan-950 text-xl p-2 w-30">Registrar</button>
    </form>
    {% if messages %}
    <div id="messages" class="bg-gray-300 text-2xl text-cyan-950 absolute bottom-10 right-10 rounded-4xl italic p-5">
      <ul class="messages">
        {% for message in messages %}
        <span class="{{ message.tag}}">{{message}}</span>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </section>
  <aside class="my-20">
    {% include "liststock.html" %}
  </aside>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const temporalMessage = document.getElementById('messages');
    if (temporalMessage) {
      // Show the message "Producto guarado con exito", for 10 seconds.
      setTimeout(function () {
        temporalMessage.style.display = 'none'
      }, 10000);
    }
  });
  {% include "footer.html" %}
  {% endblock %}
